---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import Breadcrumb from "./components/Breadcrumb.astro";

const { post, category } = Astro.props;
const { Content } = await post.render();
const { title, image, authors } = post.data;
---

<section class="section">
  <div class="container">
    <Breadcrumb pages={[{page: 'blog - ' + category, route: `/blog/${category}/1`},{page: markdownify(title)}]}></Breadcrumb>
    <div class="row justify-center">
      <div class="col-12 md:col-8">
        <article class="text-center">
          {
            image && (
              <Image
                transition:name={post.id}
                src={image}
                height={500}
                width={1000}
                alt={title}
                class="rounded-lg"
              />
            )
          }
          <h1 set:html={markdownify(title)} class="h2 text-left my-6" />
    
          <div class="content mb-16 text-left">
            <Content />
            <!-- <Markdown content={post.body} components={shortcodes} /> -->
          </div>

          <div class="text-start">
            <div class="text-lg font-bold">
            {
              authors.length > 0 ? "Autores:":""  
            }
            </div>
            <ul class="list-disc mt-2">
              {authors.map((a:string) => <li class="font-medium">{a}</li>)}
            </ul>
          </div>
          
        </article>
      </div>
    </div>
  </div>
</section>

